@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    margin: 0;
    overflow: hidden; 
    font-family: 'Orbitron', sans-serif;
    background-color: #000;
    color: #fff;
}

#loading-screen, #starting-game-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loading-content, #starting-game-content{
    text-align: center;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #00FF00;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#WebGL-output {
    width: 100vw;
    height: 100vh;
    background: black;
}

#score-container {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #00FF00;
    font-size: 20px;
    text-shadow: 0 0 10px #00FF00;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #00FF00;
}

#message-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #00FF00;
    font-size: 30px;
    text-shadow: 0 0 10px #00FF00;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #00FF00;
    display: none;
    z-index: 10;
    width: 300px;
    text-align: center;
}

#cooldown-container {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #FF0000;
    border-radius: 10px;
    display: none;
    z-index: 10;
}

#cooldown-bar {
    width: 100%;
    height: 100%;
    background: #FF0000;
    border-radius: 10px;
    transition: width 7s linear;
}

#invulnerable-container {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #0000FF;
    border-radius: 10px;
    display: none;
    z-index: 10;
}

#invulnerable-bar {
    width: 100%;
    height: 100%;
    background: #0000FF;
    border-radius: 10px;
    transition: width 7s linear;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#message-container.blink span {
    animation: blink 0.5s step-start infinite;
}

#start-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

#instructions-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
    text-align: center;
}

#instructions-content {
    max-width: 600px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #00FF00;
}

#instructions-content h1 {
    margin-bottom: 20px;
}

#instructions-content p {
    margin: 10px 0;
}

#instructions-content ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

#instructions-content ul li {
    margin: 5px 0;
}

#start-button, #instructions-button, #back-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #00FF00;
    color: black;
    cursor: pointer;
    max-width: 200px;
    width: 100%;
    transition: background-color 0.3s;
    font-family: 'Orbitron', sans-serif;
}

#start-button:hover, #instructions-button:hover, #back-button:hover {
    background-color: #219a21;
}

#game-container {
    display: none;
}

#countdown-container {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    color: #00FF00;
    font-size: 100px;
    text-shadow: 0 0 10px #00FF00;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #00FF00;
    display: none;
    z-index: 10;
    max-width: 200px;
    width: 100%;
    text-align: center;
}